<% provide(:title, "Home") %>

<div id="contents">

  <div class='container2'>
    <div class='single-item'>
        <div>
          <%= image_tag "bread.jpg", alt: "Harry" %>
        </div>
        <div>
          <%= image_tag "bread01.jpg", alt: "Harry" %>
        </div>
        <div>
          <%= image_tag "bread02.jpg", alt: "Harry" %>
        </div>
        <div>
          <%= image_tag "bread03.png", alt: "Harry" %>
        </div>
        <div>
          <%= image_tag "bread04.png", alt: "Harry" %>
        </div>
        <div>
          <%= image_tag "bread05.png", alt: "Harry" %>
        </div>
    </div>
  </div>


  <!-- １番目のコンテンツ -->
  <div class="down-appear-trigger">
  <div class="normal-area down-appear">
    <div class="normal-block">
      <div class="imgtopB"> 
        <h2>美味しいパンを作ってみませんか？</h2>
        <%= image_tag "topbread.jpg", alt: "Harry" %>
        <p>お家でパンを作ってみませんか？ここではパンの種類やご自宅でも作れるようにレシピ紹介をしています。</p>
      </div>
    </div>
  </div>


  

  <!-- 領域全体 -->
  <section class="non-background-area grid-block">

    <!-- グリッド表示 -->
    <div class="container grid-container">

      <!-- 記事1 -->
      <div class="grid-content grid-block-1">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= link_to image_tag("bread02.png", alt: "Harry"), making1_path %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "パン・トラディショナル".truncate(13) %></h4>
          </div>
        </div>
      </div>

      <!-- 記事2 -->
      <div class="grid-content grid-block-2">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= link_to image_tag("bread03.png", alt: "Harry"), making2_path %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "ブロート、セーグル".truncate(13) %></h4>
          </div>
        </div>
      </div>
      
      
      <!-- 記事3 -->
      <div class="grid-content grid-block-3">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= link_to image_tag("bread04.png", alt: "Harry"), making3_path %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "クロワッサン,デニッシュ ".truncate(13) %></h4>
          </div>
        </div>
      </div>

      <!-- 記事4 -->
      <div class="grid-content grid-block-4">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= link_to image_tag("bread05.png", alt: "Harry"), making4_path %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "ベーグル".truncate(13) %></h4>
          </div>
        </div>
      </div>

      <!-- 記事5 -->
      <div class="grid-content grid-block-5">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= link_to image_tag("bread06.png", alt: "Harry"), making5_path %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "ブリオッシュ".truncate(13) %></h4>
          </div>
        </div>
      </div>
      
  </section>
</div>


<script>
$(function(){
  $('.single-item').slick({
    accessibility: true,
    autoplay: true,
    autoplaySpeed: 5000,
    dots: false,
    fade: true,
    arrows: false,
    prevArrow: '<span class="prev-arrow">&lt;</span>',
    nextArrow: '<span class="next-arrow">&gt;</span>',
    
  });

  
});
</script>