<% provide(:title, "making1") %>
<h1>パン作り</h1>

<div class="box11">
    <p>パン・トラディショナルのベース生地です。作る物はバゲットですが、ここからアレンジして色んな形に成形できます。</p>
  <div class="making-comment">
    <div class="imgR">    
      <%= image_tag "baguette09.jpg", alt: "Harry" %>
    </div>

  <div class="resipi">
<p>材料</p>
  <ul>
    <li>中力粉・・・・・・・200g</li>
    <li>上白糖・・・・・・・2g</li>
    <li>塩・・・・・・・・・4g</li>
    <li>ドライイースト・・・2g</li>
    <li>モルト粉末・・・・・1g</li>
    <li>水・・・・・・・・・140cc</li>
  </ul>
    </div>
  </div>

  <div class="baking">
  <p>作り方</p>
  <span class="hosoku">
    <ul>
      <li>※初める前にモルト粉末は水に入れて溶いておく</li>
    </ul>
  </span>
  <ol>
    <li>ボウルに中力粉を入れ、その上に上白糖、塩、ドライイーストをそれぞれ触れないように入れ、水をドライイーストにかけるように入れる</li>
    <li>よく混ぜてひとまとまりになったら、ボウルの中で軽く打ち付け続ける</li>
    <li>10分ぐらいしたら表面が滑らかになり、引っ張ると伸展性があり生地を薄くのばすと透けて見えるようになると捏ね上がり</li>
    <li><%= image_tag "baguette06.jpg", alt: "Harry" %><br>表面を張らせ流ようにし綺麗に丸めボウルに入れ、ラップで密閉し25℃くらいの室温で30分発酵させる</li>
    <li><%= image_tag "baguette07.jpg", alt: "Harry" %><br>30分たったらパンチをいれ、また表面を張らせボウルに入れラップし30分発酵</li>
    <li>ボウルから取り出し分割</li>
    <li>表面を張らせるようにキャンパスの上に置き、表面が乾燥しないようにしてマットをまた被し、20分休める</li>
    <li><%= image_tag "baguette01.jpg", alt: "Harry" %><%= image_tag "baguette02.jpg", alt: "Harry" %><br>成形。台の上に置き手で軽く抑えてガスを抜く。閉じ目を上にし向かい側から1/2に折っていき押さえる。反対側も同じようにする</li>
    <li><%= image_tag "baguette03.jpg", alt: "Harry" %><br>向かい側から二つ折りにする。二つ折りにする時は生地を中に入れることをイメージし、表面を張らせるようにして閉じ目を押さえて隙間をなくす</li>   
    <li><%= image_tag "baguette04.jpg", alt: "Harry" %><br>軽く転がして、25〜30cmにする</li>
    <li><%= image_tag "baguette05.jpg", alt: "Harry" %><br>キャンパスの上に閉じ目を下にし波上に折り、25℃ぐらいの室温で40〜50分発酵</li>   
    <li><%= image_tag "baguette08.jpg", alt: "Harry" %><br>天板に置き、クープを入れ霧を吹く</li>    
    <li>予熱250℃のオーブンに入れ、200℃に落として20分焼く</li>
    <li><%= image_tag "baguette09.jpg", alt: "Harry" %><br>焼き上がり</li>     
  </ol>
</div>

 <h4><%= link_to "ホームに戻る", root_path, data: {"turbolinks" => false} %></h4>
 