<% provide(:title, "making2") %>
<h1>パン作り</h1>

<div class="box11">
    <p>ヴァイツェンミッシュブロートのレシピです。クセが少なく食べやすいです。サンドイッチにどうぞ。</p>
  <div class="making-comment">
    <div class="imgR">    
      <%= image_tag "rye-bread05.jpg", alt: "Harry" %>
    </div>

  <div class="resipi">
  
<p>材料</p>
  <ul>
    <li>中力粉・・・・・・・350g</li>
    <li>ライ麦粉・・・・・・150g</li>
    <li>ドライイースト・・・3.5g</li>
    <li>塩・・・・・・・・・8g</li>
    <li>サワー発酵種・・・・5g</li>
    <li>ラード・・・・・・・1.5g</li>
    <li>水・・・・・・・・・325cc</li>
  </ul>

    </div>
  </div>

  <div class="baking">
  <p>作り方</p>
  <span class="hosoku">
    <ul>
      <li>※オーブンの予熱は、工程を逆算して準備しておくとスムーズに作れます。</li>
    </ul>
  </span>
  <ol>
    <li>ボウルに全ての材料を入れ混ぜる</li>
    <li>よく混ぜてひとまとまりになったら、ボウルの中で軽く打ち付け続ける</li>
    <li><%= image_tag "rye-bread01.jpg", alt: "Harry" %><%= image_tag "rye-bread02.jpg", alt: "Harry" %><br>生地を丸めボウルにラップをし、60分間一次発酵</li>
    <li>生地を分割し、5分間休ませる</li>
    <li><%= image_tag "rye-bread03.jpg", alt: "Harry" %><br>周囲にライ麦粉をふって、専用の型に入れる</li>
    <li>約60分間の二次発酵（温度30℃／湿度75％）</li>
    <li><%= image_tag "rye-bread04.jpg", alt: "Harry" %><br>天板にのせクープを入れる</li>
    <li>250℃に予熱したオーブンに入れ、220℃に落とし約30分間焼く</li>   
    <li><%= image_tag "rye-bread05.jpg", alt: "Harry" %>焼き上がり</li>
  </ol>
</div>

 <h4><%= link_to "ホームに戻る", root_path, data: {"turbolinks" => false} %></h4>
