<% provide(:title, "making3") %>
<h1>パン作り</h1>

<div class="box11">
    <p>クロワッサンのレシピです。デニッシュとしても応用出来ます。</p>
  <div class="making-comment">
    <div class="imgR">    
      <%= image_tag "crescent03.jpg", alt: "Harry" %>
    </div>

  <div class="resipi">
  
<p>材料</p>
  <ul>
    <li>強力粉・・・・・・・200g</li>
    <li>薄力粉・・・・・・・50g</li>
    <li>塩・・・・・・・・・5g</li>
    <li>グラニュー糖・・・・25g</li>
    <li>ドライイースト・・・10g</li>
    <li>牛乳・・・・・・・・170cc</li>
    <li>バター・・・・・・・160g</li>
  </ul>

    </div>
  </div>

  <div class="baking">
  <p>作り方</p>
  <span class="hosoku">
  <ul>
  <li>※強力粉、薄力粉は合わせてふるい、冷蔵庫で冷やしておく。</li>
  <li>※バターはめん棒などでたたいて厚さ1cm、15cm四方になるようにのばし、冷蔵庫で冷やしておく。</li>
  <li>※オーブンの予熱は、工程を逆算して準備しておくとスムーズに作れます。</li>
  </ul>
  </span>
  <ol>
    <li>ボウルにふるった粉、塩、グラニュー糖を入れ、一混ぜする。続いてドライイーストを加えて混ぜ、牛乳を一気に加える。カードなどを使って切るように混ぜ、生地がまとまってきたら、台の上に取り出す。</li>
    <li>手のひらでぐっと押してのばし、引いてのの字を描くように回しながら3～4分間こねる。</li>
    <li>生地を片手で持ち、台にたたきつけてはのばし、またまとめてこねる。薄くのばしたときに、小さな穴があく状態になったらこね上がり。</li>
    <li>3の生地を15cm四方にのばす。ぬれぶきんで包んでポリ袋に入れ、冷凍庫で約30分間休ませる。</li>
    <li><%= image_tag "crescent02.jpg", alt: "Harry" %><br>打ち粉少々をふった台に4の生地を取り出し、約25cm四方にのばす。バターを冷蔵庫から出し、四つの角が生地の1辺の中心にくるように置く。</li>
    <li>左右の生地を中央に向かって折り、生地の角を合わせてとめる。上下も同様にしてとめる。</li>
    <li><%= image_tag "crescent01.jpg", alt: "Harry" %><br>めん棒で少しずつ縦長にのばしていく。べたつくようなら打ち粉少々をふりながら、長さが45cmになるまでのばす。</li>
    <li>生地の手前1/3の長さのところで中央に向かって折り、上1/3を中央に折り返す(三つ折り)。生地を90度回し、再び縦45cmになるまでのばし、再び三つ折りにする。ぬれぶきんに包んでポリ袋に入れ、冷凍庫で約30分間休ませる。</li>   
    <li>打ち粉少々をふった台に8の生地を取り出し、生地の表面にも打ち粉少々をふり、生地の端をめん棒でたたいて柔らかくする。</li>
    <li><%= image_tag "crescent04.jpg", alt: "Harry" %><br>生地を45cm×18cmにのばす。両側に9cmずつナイフで目印をつけ、二等辺三角形になるように切る。</li>
    <li><%= image_tag "crescent05.jpg", alt: "Harry" %><br>二等辺三角形の生地を、底辺から頂点に向かって転がすように巻く。</li>
    <li>天板に11の巻き終わりを下にして並べる(30cm四方の天板なら3～4コ)。ポリシートをかぶせ、約28℃で50～60分間発酵させる。発酵前に比べ、約2倍近くふくらむ。</li>   
    <li><%= image_tag "crescent03.jpg", alt: "Harry" %><br>表面に溶き卵をはけでぬり、220℃のオーブンで約12分間、こんがりと焼き色がつくまで焼き、網などにのせて荒熱を取る。</li>
  </ol>
</div>

 <h4><%= link_to "ホームに戻る", root_path, data: {"turbolinks" => false} %></h4>
