<% provide(:title, "making4") %>
<h1>パン作り</h1>

<div class="box11">
    <p>ベーグルのベース生地です。ここからアレンジして色んな形に成形したり、味を変えたり出来ます。</p>
  <div class="making-comment">
    <div class="imgR">    
      <%= image_tag "be-guru01.jpg", alt: "Harry" %>
    </div>

  <div class="resipi">
  
<p>材料</p>
  <ul>
    <li>中力粉・・・・・・・140g</li>
    <li>薄力粉・・・・・・・60g</li>
    <li>グラニュー糖・・・・12g</li>
    <li>塩・・・・・・・・・3g</li>
    <li>ドライイースト・・・2g</li>
    <li>バター・・・・・・・8g</li>
    <li>水・・・・・・・・・120cc</li>
    <li>シロップ・・・・・・適量</li>
  </ul>

    </div>
  </div>

  <div class="baking">
  <p>作り方</p>
  <span class="hosoku">
    <ul>
      <li>※シロップの基本配合/湯1000ccに対し、グラニュー糖50gを溶かす</li>
      <li>※オーブンの予熱とシロップの準備は、工程を逆算して準備しておくとスムーズに作れます。</li>
    </ul>
  </span>
  <ol>
    <li>ボウルに中力粉、薄力粉を入れ、その上に上白糖、塩、ドライイーストをそれぞれ触れないように入れ、水をドライイーストにかけるように入れる</li>
    <li>よく混ぜてひとまとまりになったら、ボウルの中で軽く打ち付け続ける</li>
    <li>表面が滑らかになり始めたらバターを入れ捏ねて打つ</li>
    <li>表面に艶がで始め、手に取ると張りがあり、生地を伸ばすと透けて見えるぐらいになれば捏ね上がり</li>
    <li>生地の表面を張らせるように丸め、ボウルに入れラップをし一次発酵</li>
    <li>ボウルから取り出し分割し、表面を張らせて丸め、キャンパスの上に閉じ目を下にして置き、乾燥しないようにキャンパスを重ね、生地を休ませる</li>
    <li>成形。台の上に置き手で軽く抑えてガスを抜く。閉じ目を上にし向かい側から1/2に折っていき押さえる。反対側も同じようにする</li>
    <li><%= image_tag "be-guru02.jpg", alt: "Harry" %><br>向かい側から二つ折りにする。二つ折りにする時は生地を中に入れることをイメージし、ガスを抜く。転がして細くのばす</li>   
    <li><%= image_tag "be-guru03.jpg", alt: "Harry" %><br>閉じ目を上にし、片方の端を1㎝ほど平たくし、その上へもう一方の端をのせる</li>
    <li><%= image_tag "be-guru04.jpg", alt: "Harry" %><br>下の生地を包みこむようにし、しっかり閉じて輪にし、20~30分の二次発酵</li>   
    <li><%= image_tag "be-guru05.jpg", alt: "Harry" %><br>シロップを沸騰させる。鍋は火にかけたまま、生地の表面を下にして湯に入れる</li>    
    <li>15秒たったら裏返す。10秒前後で引き揚げ、水気をしっかりと切り天板に並べる。</li>
    <li>220℃に予熱しておいたオーブンに入れ、200℃で13分ほど焼く</li> 
    <li><%= image_tag "be-guru01.jpg", alt: "Harry" %><br>焼き上がり</li> 
  </ol>
</div>

 <h4><%= link_to "ホームに戻る", root_path, data: {"turbolinks" => false} %></h4>
