<% provide(:title, "making5") %>
<h1>パン作り</h1>

<div class="box11">
    <p>ブリオッシュのベース生地です。ラング・ドゥ・ブッフというパンのレシピですが、このベース生地は色んな食材や料理と合うようにしてます。</p>
  <div class="making-comment">
    <div class="imgR">    
      <%= image_tag "rangu01.jpg", alt: "Harry" %>
    </div>

  <div class="resipi">
  
<p>材料</p>
  <ul>
    <li>中力粉・・・・・・・140g</li>
    <li>強力粉・・・・・・・60g</li>
    <li>グラニュー糖・・・・20g</li>
    <li>塩・・・・・・・・・2g</li>
    <li>全卵・・・・・・・・2個</li>
    <li>生イースト・・・・・7.6g</li>
    <li>発酵バター・・・・  100g</li>
    <li>牛乳・・・・・・・・10cc</li>
  </ul>

    </div>
  </div>

  <div class="baking">
  <p>作り方</p>
  <span class="hosoku">
    <ul>
      <li>※オーブンの予熱は、工程を逆算して準備しておくとスムーズに作れます。</li>
    </ul>
  </span>
  <ol>
    <li>ボウルに中力粉、強力粉を入れ、その上に上白糖、塩、生イーストを入れ、よく混ぜておく</li>
    <li>全卵、牛乳を加えて混ぜる。まとまり始めたら打つ</li>
    <li>コシがつき、滑らかになったらバターを入れて混ぜる。</li>
    <li>生地がしっとりし、伸びが出て、伸ばすと向こうが透けて見えるようになれば捏ね上がり</li>
    <li>生地の表面を張らせるように丸め、ボウルに入れラップをし30分一次発酵</li>
    <li><%= image_tag "rangu03.jpg", alt: "Harry" %><br>分割をし、閉じ目を下にするように丸め休ませる</li>
    <li>成形。生地を麺棒で厚さ1㎝~2㎝程度で楕円形のような形に伸ばす</li>
    <li>20~30分の二次発酵</li>   
    <li><%= image_tag "rangu02.jpg", alt: "Harry" %><br>表面に指で穴を開け、穴にバターを少し絞り表面全体にグラニュー糖をまぶし、ほんの少し塩もふる</li>
    <li>200℃に予熱しておいたオーブンに入れ、180℃で10分ほど焼く</li>   
    <li><%= image_tag "rangu01.jpg", alt: "Harry" %><br>焼き上がり</li> 
  </ol>
</div>

 <h4><%= link_to "ホームに戻る", root_path, data: {"turbolinks" => false} %></h4>
