<% provide(:title, "type") %>

<h1>パンの種類</h1>
<div id="contents">
  <!-- 領域全体 -->
  <section class="non-background-area grid-block">
    <h3>パン・トラディショナル</h3>
    <!-- グリッド表示 -->
    <div class="container grid-container">

      <!-- 記事1 -->
      <div class="grid-content grid-block-1">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread02.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "バゲット".truncate(13) %></h4>
            <p><span><%= "外側パリッ,中はフワ〜のフランスパン,日本におけるハード系では一番有名".truncate(40) %></span></p>
          </div>
        </div>
      </div>

      <!-- 記事2 -->
      <div class="grid-content grid-block-2">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread07.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "バタール".truncate(13) %></h4>
            <p><span><%= "折衷の意味,パリジャンとバゲットの中間の位置で,バゲットより少し小さい".truncate(40) %></span></p>
          </div>
        </div>
      </div>

      <!-- 記事3 -->
      <div class="grid-content grid-block-3">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread08.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "ブール".truncate(13) %></h4>
            <p><span><%= "ボール状のハード系パン,フランス語のパン屋の語源となる".truncate(40) %></span></p>
          </div>
        </div>
      </div>

      <!-- 記事4 -->
      <div class="grid-content grid-block-4">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread09.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "シャンピニオン".truncate(13) %></h4>
            <p><span><%= "マッシュルームの意味、キノコ状のハード系パン".truncate(40) %></span></p>
          </div>
        </div>
      </div>
    
  </section>
</div>

  <section class="non-background-area grid-block">
    <h3>ブロート,ライ麦パン</h3>
    <div class="container grid-container">
    
      <!-- 記事5 -->
      <div class="grid-content grid-block-5">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread10.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "ヴァイツェンブロート".truncate(13) %></h4>
            <p><span><%= "小麦粉90％以上のパン".truncate(40) %></span></p>
          </div>
        </div>
      </div>

      <!-- 記事6 -->
      <div class="grid-content grid-block-6">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread12.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "ロッゲンブロート".truncate(13) %></h4>
            <p><span><%= "ライ麦90％以上のパン,独特の味と香りで好みが別れやすい".truncate(40) %></span></p>
          </div>
        </div>
      </div>

<!-- 記事7 -->
      <div class="grid-content grid-block-7">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread11.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "ミッシュブロート".truncate(13) %></h4>
            <p><span><%= "同量の小麦とライ麦を使用したパン".truncate(40) %></span></p>
          </div>
        </div>
      </div>

 </section>
</div>

  <section class="non-background-area grid-block">
    <h3>クロワッサン、デニッシュ</h3>
    <div class="container grid-container">
    
      <!-- 記事8-->
      <div class="grid-content grid-block-8">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread04.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "クロワッサン".truncate(13) %></h4>
            <p><span><%= "フランス生まれの三日月のパン,口に入れたらバターが香り,サクフワ食感".truncate(40) %></span></p>
          </div>
        </div>
      </div>

 <!-- 記事9 -->
      <div class="grid-content grid-block-9">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread13.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "デニッシュ".truncate(13) %></h4>
            <p><span><%= "デンマーク生まれのサクサクのパン,画像はショコラですが調理系から菓子系まで幅広く使えます".truncate(47) %></span></p>
          </div>
        </div>
      </div>
 </section>
</div>

  <section class="non-background-area grid-block">
    <h3>ベーグル</h3>
    <div class="container grid-container">

      <!-- 記事10 -->
      <div class="grid-content grid-block-10">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread05.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "ベーグル".truncate(13) %></h4>
            <p><span><%= "アメリカではポピュラーなパン,日本でも大人気".truncate(40) %></span></p>
          </div>
        </div>
      </div>

<!-- 記事11 -->
      <div class="grid-content grid-block-11">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread15.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "ブルーベリーベーグル".truncate(13) %></h4>
            <p><span><%= "ベーグルにブルーベリーを混ぜてみました,ほのかにブルーベリーが香ります".truncate(40) %></span></p>
          </div>
        </div>
      </div>

      <!-- 記事12 -->
      <div class="grid-content grid-block-12">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread14.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "ベーグルサンドイッチ".truncate(13) %></h4>
            <p><span><%= "バリエーション豊かでおしゃれな感じ,女子ウケ抜群です".truncate(40) %></span></p>
          </div>
        </div>
      </div>

 </section>
</div>

  <section class="non-background-area grid-block">
      <h3>ブリオッシュ</h3>
    <div class="container grid-container">

<!-- 記事13 -->
      <div class="grid-content grid-block-13">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread06.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "ブリオッシュ".truncate(13) %></h4>
            <p><span><%= "バター、卵をたくさん使ってるフランス生まれのリッチなパン,ケーキとパンの中間的な感じです".truncate(48) %></span></p>
          </div>
        </div>
      </div>

<!-- 記事14 -->
      <div class="grid-content grid-block-14">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "bread16.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h4><%= "クグロフ".truncate(13) %></h4>
            <p><span><%= "レーズン入りのブリオッシュ,マリーアントワネットの好物としても有名".truncate(40) %></span></p>
          </div>
        </div>
      </div>

  </section>
</div>